
body{
    background-color: rgb(236,236,236);
    min-height: 100vh;
    font-family: 'Rubik';
}
body::-webkit-scrollbar {
    width: .4rem;
}
body::-webkit-scrollbar-track {
    background-color: white;
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}
/*navbar start*/
.header{
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    transition: 0.2s;
    z-index: 2;
    display: flex;
    background-color: rgb(33,33,33);
}
.header.sticky{
    position: sticky;
    top: 0;
    height: 60px;
}

.header .logo{
padding-left:6%;
width: 19.5%;
height: 100%;
display: flex;
padding-top: 4vh;
padding-bottom: 3.5vh;
}
.logo.reduce{
    height: 100%;
    transition: 200ms ease-in-out;
    padding-top: 1.9vh;
    padding-bottom: 1.5vh;
    padding-left: 14vh;
}
.nav-right{
    width: 80.5%;
    height: 100%;
}
.nav-right .up-nav{
    height: 40%;
    background-color:rgb(0,0,0);
    transition: height 200ms opacity 300ms linear;
    display: flex;
    padding-right: 80px ;
    justify-content: space-between;
    font-size: 12px;
    font-weight:bold;
    padding-left: 20px;
     opacity: 1;
}
.up-nav.fed{
    transition: opacity 300ms linear;
    transition: height 200ms linear;
    height: 0;
    opacity: 0;
}
a{
    color: rgb(253,253,253);
    text-decoration: none
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: rgb(253,253,253);
    }
.tata-luxury-page{
    display: flex;
    align-items: center;
}
.login-and-tracktab{
    
    display: flex;
    height: 100%;
    align-items: center;
}
.login-and-tracktab div{
    padding-left: 30px;
}
.nav-right .down-nav{
    height:60px ;
    color: white;
    padding-top: 4px;
    display: flex;
    align-items: center;
    transition: height 200ms;
}
.dropdowns{
    width: 19rem;
    height: 60px !important;
    display: flex;
    padding: 0 30px 5px 0;
    height: 100%;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Rubrik' bold;
}
.dropdowns .category{
    position: relative;
    width: 45%;
    height: 3.75rem;
    padding-left: 1vw;
    display: flex;
    margin-right: 7%;
    align-items: center;
}
.dropdowns .category:hover{
    background-color: white;
    color: rgb(33,33,33);
}
.dropdowns .category:hover .img{
    background-image: url(https://www.tatacliq.com/src/general/components/img/down-arrow.288db0f16207.svg);
    transform: rotate(180deg);
    transition: 300ms;
}
.dropdowns .brands{
    width: 34%;
    height: 3.75rem;
    display: flex;
    padding: 0 8px 0 10px;
    justify-content: space-around;

    align-items: center;
}
.category .img{
    width: 13%;
    height: 12px;
    margin-left: 2px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 13px 13px;
    background-image: url(https://www.tatacliq.com/src/general/components/img/down-arrow-white.7d24202a27ce.svg);
    padding-left: 0.2rem;
    padding-top: 0.2rem;
    transform: rotate(0);
    transition: 300ms;
}
.brands .imgg{
    width: 17%;
    height: 12px;
    /* margin-left: 2px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px 13px;
    background-image: url(https://www.tatacliq.com/src/general/components/img/down-arrow-white.7d24202a27ce.svg);
    padding-left: 0.2rem;
    padding-top: 0.2rem;
    transform: rotate(0);
    transition: 300ms;
}
.dropdowns .brands:hover{
    background-color: white;
    color: rgb(33,33,33);
}
.dropdowns .brands:hover .imgg{
    background-image: url(https://www.tatacliq.com/src/general/components/img/down-arrow.288db0f16207.svg);
    transform: rotate(180deg);
    transition: 300ms;
}
.search-cart-page{
    width: 65%;
    height: 60px;
    display: flex;
    margin-right: 80px;
    flex-direction: row-reverse;
    align-items: center;
}
.search{
    display: flex;
    padding-left: 5px;
    width: 32%;
    transition: all 300ms linear;
}
.search input{
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid white;

    writing-mode: horizontal-tb !important;
    text-rendering: auto;
     color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 600 14.3333px Arial;
}
.cross{
    position: relative;
    width: 16px;
    height: 16px;
    background-color: white;
    background-image: url(https://image.flaticon.com/icons/png/128/2723/2723639.png);
    background-size: 16px 16px;
    left: 37.5rem;
    cursor: pointer;
    transition: all 200ms;
    opacity: 0;
}
.search input:focus {
    outline: none;
    background-color: white;
    height: 60px;    
  }
  .search input:focus::placeholder{
      color: white;
      opacity: 0;
      transition: all 200ms;
  }
.strech{
      width: calc(60% + 2.5rem);
      transition: all 300ms linear;
  }
.fedd{
      display: none;
  }
.search input::placeholder{
    color: rgb(126,126,126);
    padding: 1px 2px;
    opacity: 1;
    transition: all 200ms linear;
}
.search-icon{

    width: 2.5rem;
    border-bottom: 1px solid white;
    margin-left: 1px;
}
.search-icon img{
    width: 1rem;
    margin-left: 1.438rem;
}
.cart-whistlist{
    width: 91px;
    display: flex;
    justify-content: space-around;
}
/* nav ends*/

@media only screen and (max-width: 600px) {
    .logo.reduce{
        padding-left: 0;
    }
    .header>.logo{
        padding-left: 0;
      
    }
}

/* dropdown*/
.category-expand{
    width: 1000px;
    position: absolute;
    display: none;
    height: 490px;
    z-index: 20;
    background: #fff;
    top: 60px;
    padding: 20px;
    /* display: flex; */
    border-radius: 0 0 4px 4px;
    left: 0;
    box-shadow: 0 6px 6px 0 rgb(156 156 156 / 24%),
    0 0 6px 0 rgb(0 0 0 / 12%);
}
.sub-category{
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.sub-category-value{
    width: 100%;
    height: auto;
    line-height: 60px;
    border-bottom: 1px solid #e4e4e4;
    text-align: left;
    font-size: 14px;
    font-family: 'Rubik' semibold;
    display: flex;
    color: #8d8d8d;
    cursor: pointer;
    padding-right: 25px;
    position: relative;
}
.sub-category-value:hover{
    color: black;
}
.arrow-icon{
    background-size: auto 12px;
    background-position:  right center;
    width: 20px;
    height: 20px;
    position:absolute;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background: url(https://www.tatacliq.com/src/general/components/img/down-arrow-grey.7cb8fab52c44.svg) no-repeat;
    background-size: auto 13px;
    background-position: center;
    transform: rotate(275deg);
}
.sub-category-option{
    width: 80%;
    height: 490px;
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    overflow: hidden;
    flex-wrap: wrap;
}
.sub-category-option-value{
    width: 25%;
    height: auto;

    font-size: 14px;
    line-height: 30px;
    color: #8d8d8d;
    cursor: pointer;
}
.sub-category-option-header{
    width: 25%;
    height: auto;
    font-size: 14px;
    line-height: 30px;
    color: black;
    cursor: pointer;
}
section{
    display: none;
}
.show{
    display: flex;
    flex-wrap: wrap;
}


